---
import Layout from "../layouts/Base.astro";
---

<div class="z404">
  <Layout
    title="That doesn't exist..."
    description="The requested page could not be found"
  >
    <p>The sadness.</p>
  </Layout>
</div>

<style>
  .z404 {
    grid-template-areas:
      "header"
      "main";
  }
</style>
