---
import OpenGraphMeta from "@altano/astro-opengraph/components/meta.astro";
---

<html>
  <head>
    <title>I'm not important!</title>
    <OpenGraphMeta
      image="/opengraph.png"
      title="Nope"
      description="I'm not important"
    />
  </head>
  <body>
    <p>My opengraph should be the root one!</p>
  </body>
</html>
