.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.coverage
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo
.devbox

# tsdown config, temporary files
.tsdown
packages/build-config/*.mjs

# used in vitest typecheck run, don't want lint/format/etc tasks to see it
tsconfig.vitest-temp.json

# playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# astro test fixtures, astrobook
.astro/
