.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.tsup
.turbo
.coverage
tsconfig.tsbuildinfo
.devbox

# playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
