---
import BaseHead from "@components/BaseHead.astro";
import "@styles/constants.css";
import "@styles/global.css";
import "@styles/overrides.scss";

export interface Props {
  title: string;
  description: string;
}

const {title, description} = Astro.props as Props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <slot />
  </body>
</html>
