---
import OpenGraphMeta from "@altano/astro-opengraph/components/meta.astro";
---

<html>
  <head>
    <title>fit-text</title>
    <OpenGraphMeta image="./opengraph.png" />
  </head>
  <body>
    <p>Testing @altano/satori-fit-text combined with @altano/astro-opengraph</p>
  </body>
</html>
