---
export { getStaticPaths } from "./index.astro";

const { slug } = Astro.params;
---

<html>
  <body
    style={{
      fontFamily: "Inter Variable",
      background: "white",
      height: "100vh",
      width: "100vw",
      display: "flex",
      flexDirection: "column",
      alignItems: "center",
      justifyContent: "center",
    }}
  >
    <h1
      style={{
        display: "block",
        textAlignment: "center",
        fontWeight: 800,
        fontSize: " 5rem",
        margin: 0,
      }}
    >
      Post with slug {slug}.
    </h1>
  </body>
</html>
