---
import OpenGraphMeta from "@altano/astro-opengraph/components/meta.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <OpenGraphMeta />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <ul>
      <li><a href="/posts/hello-world">/posts/hello-world</a></li>
      <li><a href="/posts/bye-cruel-world">/posts/bye-cruel-world</a></li>
      <li>
        <a href="/not-important/use-root-image">/not-important/use-root-image</a
        >
      </li>
      <li><a href="/fit-text">/fit-text</a></li>
    </ul>
  </body>
</html>
