name: test

# As recommended by Graphite
# (https://graphite.dev/docs/github-configuration-guidelines#github-actions)
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]

# Cancel in-progress jobs for the same work
# (https://graphite.dev/docs/troubleshooting#why-are-my-actions-running-twice)
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}-${{ github.ref == 'refs/heads/main' && github.sha || ''}}
  cancel-in-progress: true

# Use Turborepo remote caching w/ custom cache server
env:
  TURBO_API: ${{ vars.TURBO_API }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_REMOTE_CACHE_SIGNATURE_KEY: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  # Having this as an explicit and independent job, despite the fact that
  # turborepo knows building is a dependency of all the tasks below, is useful
  # because it primes the turborepo remote cache and we can cache the devbox nix
  # installation
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/install-devbox-slim
      - name: Build
        run: devbox run --config ./devbox/configs/ci-slim pnpm turbo -vvv run build --summarize
      - name: Summarize Turbo
        uses: ./.github/actions/turbo-summarize

  lint:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/install-devbox-slim
      - name: Lint
        run: devbox run --config ./devbox/configs/ci-slim pnpm turbo -vvv run lint --summarize
      - name: Summarize Turbo
        uses: ./.github/actions/turbo-summarize

  format:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/install-devbox-slim
      - name: Format
        run: devbox run --config ./devbox/configs/ci-slim pnpm turbo -vvv run format --summarize
      - name: Summarize Turbo
        uses: ./.github/actions/turbo-summarize

  check:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/install-devbox-slim
      - name: Check
        run: devbox run --config ./devbox/configs/ci-slim pnpm turbo -vvv run check --summarize
      - name: Summarize Turbo
        uses: ./.github/actions/turbo-summarize

  test-unit:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Prepare
        # Run inside full Devbox environment, unit tests need everything
        uses: ./.github/actions/install-devbox
      - name: Run tests
        run: devbox run --config ./devbox/configs/ci pnpm turbo -vvv run test:unit --summarize
      - name: Summarize Turbo
        uses: ./.github/actions/turbo-summarize

  # TODO Consider using playwright docker container
  test-e2e:
    # These have to run outside of Devbox, since Devbox doesn't play well with Playwright
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Prepare
        # Run outside of Devbox. Playwright and Devbox don't like each other.
        uses: ./.github/actions/install-tools-and-deps
      - name: Run tests
        run: pnpm turbo -vvv run test:e2e --summarize
      - name: Summarize Turbo
        uses: ./.github/actions/turbo-summarize
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: "**/playwright-report/"
          retention-days: 30

  # When this completes, all validation is successful. This job only exists so
  # that we have *one* job we can make required in the repository settings. The
  # alternative is to define all the required jobs (e.g. test-e2e, test-unit,
  # lint, etc) separately in the repository settings, and manually keep that
  # setting in sync with this file. Defining the list here in code is better.
  test:
    needs: [build, lint, format, check, test-unit, test-e2e]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Done."
